{
	"apiKey": "AIBai87Hawklaw8aw8thisisnotarealkeyAa8ac",
	"authDomain": "my-auth-domain.firebaseapp.com",
	"projectId": "my-project-id",
	"storageBucket": "my-storage-bucket.appspot.com",
	"messagingSenderId": "8798271172",
	"appId": "1:81202991872:fakeid:e8av8c89a89828c",
	"measurementId": "G-ABCDE12345"
  }